<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Star Wars universe planets</h1>

        <table id="planetTable">
            <tr>
                <th>Name</th>
                <th>Diameter</th> 
                <th>Climate</th>
                <th>Terrain</th>
                <th>Water</th> 
                <th>Population</th>
            </tr>  
        </table>

        <button onclick="createNewRow()">Create row</button>
        <script>
            function createNewRow() {
                var table = document.getElementById("planetTable");
                var row = table.insertRow(-1);

                for (var i = 0; i < 6; i++) {
                    // 6 = var objectLengthBoard = Object.keys(item.boards).length;

                    var cell = row.insertCell(i);
                    cell.innerHTML = "NEW";
                }
            }
        </script>

    </body>
</html>

