<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" defer></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}" defer></script>
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Star Wars universe planets</h1>

        <table id="planetTable">
            <tr>
                <th>Name</th>
                <th>Diameter</th> 
                <th>Climate</th>
                <th>Terrain</th>
                <th>Water</th> 
                <th>Population</th>
            </tr>  
        </table>

        <button onclick="createNewRow()">Create row</button>
        <script>
            function createNewRow() {
                var table = document.getElementById("planetTable");
                var row = table.insertRow(-1);

                for (var i = 0; i < 6; i++) {
                    // 6 = var objectLengthResults = Object.keys(item.results).length;

                    var cell = row.insertCell(i);
                    cell.innerHTML = "NEW";
                }
            }
        </script>

    </body>
</html>

